{% extends "BaseFormat.html" %}
{% block Title %}Library Management System{% endblock %}
{% block content %}
<div class="container">
    <h1>Our Library Management System Welcomes You</h1>
    <h2> Hey {{naam}} , Ready to READ?</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>id</th>
                <!-- <th>PASSWORD</th> -->
                <th>Roll Number</th>
                <th>Age</th>
                <th>Department</th>
                <th>Current Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{naam}}</td>
                <td>{{id}}</td>
                <!-- <td>{{passw}}</td> -->
                <td>{{roll}}</td>
                <td>{{age}}</td>
                <td>{{Dep}}</td>
                <td>{{year}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}